# Deep Learning & RL
torch>=2.1.0
gymnasium>=0.29.1
stable-baselines3>=2.2.1
tensorboard>=2.15.1

# Math & Data
numpy>=1.26.0
matplotlib>=3.8.2

# Rendering & UI
pygame>=2.5.2

# Utilities
typing-extensions>=4.9.0